* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overscroll-behavior: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background-color: #000000;
  width: 100%;
  height: 100vh;
}
.main-bg__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -o-object-fit: none;
     object-fit: none;
}
@media screen and (max-width: 992px) {
  .main-bg {
    position: fixed;
    height: 100vh;
  }
  .main-bg__picture {
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 100vh;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.main {
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  width: 58%;
  margin-top: clamp(24px, 8vw, 100px);
  margin-bottom: 0;
  margin-left: clamp(32px, 4vw, 100px);
}
@media screen and (max-width: 992px) {
  .main {
    width: 90%;
  }
}
.main__logo {
  width: 100%;
  margin-bottom: clamp(24px, 2vw, 64px);
}
.main__description {
  margin-bottom: clamp(24px, 2vw, 64px);
}
.main__title {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 10%;
  margin-bottom: 20px;
  text-shadow: 0 5px 5px rgb(0, 0, 0);
}
.main__text {
  font-weight: 400;
  font-size: 16px;
  text-indent: 20px;
  letter-spacing: 10%;
  text-shadow: 0 5px 5px rgb(0, 0, 0);
}
.main__products-section {
  margin-bottom: clamp(24px, 2vw, 64px);
}
.main__products-grid {
  width: 60%;
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
}
@media screen and (max-width: 992px) {
  .main__products-grid {
    flex-wrap: wrap;
    width: 100%;
  }
}
.main__product {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 12px;
  letter-spacing: 10%;
  text-align: center;
  text-wrap-mode: nowrap;
  padding: 2% 3%;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
  box-sizing: border-box;
}
.main__product:hover {
  border: 3px solid #6AECF8;
  background-color: #4FB5C0;
  color: black;
}
.main__form-section {
  margin-bottom: clamp(24px, 2vw, 64px);
}
.main__form {
  max-width: 596px;
  display: flex;
  flex-wrap: wrap;
}
.main__form-field {
  width: 48%;
  border-color: white;
  padding: 12px 10px 11px 14px;
  margin-right: 2%;
  margin-bottom: 2%;
  text-align: left;
  font-size: clamp(11px, 2vw, 20px);
  letter-spacing: 10%;
}
.main__form-field::-moz-placeholder {
  color: black;
}
.main__form-field::placeholder {
  color: black;
}
.main__form-message {
  width: 100%;
  border-color: white;
  padding: 31px 13px;
  margin-right: 2%;
  margin-bottom: 2%;
  text-align: left;
  font-size: clamp(15px, 4vw, 20px);
  letter-spacing: 10%;
  resize: vertical;
}
.main__form-message::-moz-placeholder {
  color: black;
}
.main__form-message::placeholder {
  color: black;
}
.main__form-submit {
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  letter-spacing: 10%;
  text-align: center;
  padding: 13.5px 24px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.main__form-submit:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.main__preview {
  position: fixed;
  bottom: 0;
  right: 5vw;
  width: 28%;
  z-index: 2;
  pointer-events: none;
  margin-right: -20px;
}
@media screen and (max-width: 992px) {
  .main__preview {
    margin-top: -170px;
    position: static;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}
.main__preview-img {
  display: block;
  width: calc(100% + 100px);
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-left: -50px;
  margin-right: -50px;
}/*# sourceMappingURL=style.css.map */