.main-bg {
   background-image: url(../images/background.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 1080px;
   width: 1920px;
   background-color: rgba(0, 0, 0, 1);
   
}

.man-img {
   position: absolute;
   left: 1200px;
}