.main {
   color: white;
   font-family: "Roboto";
   font-weight: 500;
   width: 58%;
   margin-top: clamp(24px, 8vw, 100px);
   margin-bottom: 0;
   margin-left: clamp(32px, 4vw, 100px);

   @media screen and (max-width: 992px) {
      width: 90%;
   }

   &__logo {
      width: 100%;
      margin-bottom: clamp(24px, 2vw, 64px);
   }

   &__description {
      margin-bottom: clamp(24px, 2vw, 64px);
   }

   &__title {
      font-weight: 500;
      font-size: 28px;
      letter-spacing: 10%;
      margin-bottom: 20px;
      text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
   }

   &__text {
      font-weight: 400;
      font-size: 16px;
      text-indent: 20px;
      letter-spacing: 10%;
      text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
   }

   &__products-section {
      margin-bottom: clamp(24px, 2vw, 64px);
   }

   &__products-grid {
      width: 60%;
      display: flex;
      gap: 15px;
      flex-wrap: nowrap;

      @media screen and (max-width: 992px) {
         flex-wrap: wrap;
         width: 100%;
      }
   }

   &__product {
      border: 2px solid white;
      background-color: rgba(0, 0, 0, 0);
      font-size: 12px;
      letter-spacing: 10%;
      text-align: center;
      text-wrap-mode: nowrap;
      padding: 2% 3%;
      font-weight: 500;
      cursor: pointer;
      transition: 0.5s;
      box-sizing: border-box;

      &:hover {
         border: 3px solid #6AECF8;
         background-color: #4FB5C0;
         color: black;
      }
   }

   &__form-section {
      margin-bottom: clamp(24px, 2vw, 64px);
   }

   &__form {
      max-width: 596px;
      display: flex;
      flex-wrap: wrap;
   }

   &__form-field {
      width: 48%;
      border-color: white;
      padding: 12px 10px 11px 14px;
      margin-right: 2%;
      margin-bottom: 2%;
      text-align: left;
      font-size: clamp(11px, 2vw, 20px);
      letter-spacing: 10%;

      &::placeholder {
         color: black;
      }
   }

   &__form-message {
      width: 100%;
      border-color: white;
      padding: 31px 13px;
      margin-right: 2%;
      margin-bottom: 2%;
      text-align: left;
      font-size: clamp(15px, 4vw, 20px);
      letter-spacing: 10%;
      resize: vertical;

      &::placeholder {
         color: black;
      }
   }

   &__form-submit {
      border: 3px solid white;
      background-color: rgba(0, 0, 0, 0);
      font-size: 18px;
      letter-spacing: 10%;
      text-align: center;
      padding: 13.5px 24px;
      font-weight: 500;
      color: white;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
         background-color: rgba(255, 255, 255, 0.3);
      }
   }

   
   &__preview {
      position: fixed;
      bottom: 0;
      right: 5vw;
      width: 28%;
      height: 100vh;
      z-index: 2;
      pointer-events: none;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      
      @media screen and (max-width: 992px) {
         
         position: relative;

         width: 100%;
         height: auto;
         margin-top: 20px;
         margin-bottom: -5px;
         display: flex;
         justify-content: center;
         align-items: center;
         
         
      }
   }

   &__preview-img {
      width: 100%;
      height: auto;
      object-fit: contain;
      display: block;

      
      @media screen and (max-width: 992px) {
         width: 100%;
         
         
         margin-left:10%;
         margin-top: -30%;        
         
      }
   }


   
}

.fade{
   opacity: 0;
   transform: translateY(15px);
   transition: opacity 0.8s ease, transform 0.8s ease;
}
.fade.visible{
   opacity: 1;
   transform: translateY(0);
}