.products {
   background-color: rgba(0, 0, 0, 0.3);
   color: white;
   font-family: 'Roboto';

   &__title{

      font-weight: 500;
      font-size: 32px;
      padding-left: 142px;
      letter-spacing: 10%;
      padding-top: 64px;
      text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
   }

   &__container{
      padding-top: 26px;
      display: flex;
      justify-content:start;
      padding-left: 142px;
      &__item{
         border: 3px solid white;
         background-color: rgba(0, 0, 0, 0);
         color: white;
         margin-right: 12px;
         font-size: 18px;
         
         
         &__text{
            
            letter-spacing: 10%;
            text-align: center;
            margin: 15px 15px;
            font-weight: 600;
            
         }
         
      }
      &__item:first-child{
            background-color: rgb(104, 236, 248);
            text-align: center;
            color: black;
         }
      &__item:first-child:hover{
         background-color: rgba(104, 236, 248, 0.8);
      }
      &__item:hover{
         background-color: rgba(255, 255, 255, 0.3);
      }
   }
}